<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/9a2812759d.js"></script>
</head>
<body>
	<div class="container">
		<div id="app">
			<input type="text" name="subreddit" v-model='subreddit' class="form-control">
			<select name="sorting" id="sorting" v-model='sort' class="form-control">
				<option value="hot">Hot</option>
				<option value="top">Top</option>
				<option value="new">New</option>
				<option value="controversial">Controversial</option>
				<option value="rising">Rising</option>
			</select>

			<button v-on:click="getRedditData(subreddit=subreddit, sort=sort)" v-bind:class="{ disabled: buttonLoading }" name="go" id='go' class="btn btn-primary form-control">Update
			  <span v-if="buttonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>

			<div class="row">
				<div class="col-md-6">
					<ol>
						<li v-for='item in redditResp'>
							<a v-bind:href="[[ item.url ]]" target="_blank" data-toggle="tooltip" data-placement="right" v-bind:title="[[ item.title ]]">[[ item.title.slice(0, 35) ]]...</a>
							<i class="far fa-arrow-alt-circle-up"></i>[[ item.upvotes ]]
							<i class="far fa-comments"></i>[[ item.num_comments ]]
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</body>

<script>

	var app = new Vue({
		el: '#app',
		delimiters: ['[[',']]'],
		data: {
			redditResp: null,
			subreddit: 'AskReddit',
			sort: 'hot',
			buttonLoading: false
		},
		methods:{
			getRedditData: function (subreddit=this.subreddit, sort=this.sort) {
				// Show loading spinner
				this.buttonLoading = true
				axios.get('/reddit.json', {
					params: {
						subreddit: subreddit,
						sort: sort,
					}
					})
					.then(response => {
						this.redditResp = response["data"]
						// after the response - hide spinner
						this.buttonLoading = false
					})
					.catch(error => {
						alert(error)
					})
			},
		},
		// Get data on page load
		created: function () {
			this.getRedditData()
		},
	    // Activate tooltips
	    updated: function () {
	      this.$nextTick(function () {
	        $(function () {
	          $('[data-toggle="tooltip"]').tooltip({html: true})
	        });
	      })
	    },
	})
</script>
</html>